<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Iframe</title>
    <meta charset="UTF-8"/>
    <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.5/css/aui.min.css" media="all">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.5/js/aui.min.js"></script>
</head>
<body class="aui-page-hybrid">
<section id="content" role="main">
    <div class="aui-page-panel main-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-item">
                <div class="aui-group">
                    <div class="aui-item">Hello, <b><span th:text="${#authentication.principal.userKey.get()}">User</span></b>!</div>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
</html>
